.profile__add{
    background: url(../../../images/plus.svg);
    height: 50px;
    background-color: black;
    background-repeat: no-repeat;
    width: 150px;
    padding: 0;
    margin: auto 0 auto auto;
    cursor: pointer;
    border: 2px solid #fff;
    background-position: center;
    border-radius: 2px;
    background-size: 22px 22px;
}

.profile__add:hover{
    opacity: 0.6;
    background-color: black;
}

@media screen and (max-width: 800px){
    .profile__add{
        width: 282px;
        margin: 32px auto 0;
        background-size: 16px 16px;
    }
}