.profile__text-name{
    font-size: 42px;
    line-height: 48px;
    color: white;
    margin: 0 18px 7px 0;
    max-width: 294px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-style: normal;
    font-weight: 500;
}

@media screen and (max-width: 800px){
    .profile__text-name{
        font-size: 27px;
        line-height: 33px;
        text-align: center;
        padding-left: 25px;
        padding-top: 25px;
        margin-right: 10px;
        max-width: 249px;
}
}