.element__items{
    display: grid;
    grid-template-columns: repeat(auto-fit, 282px);
    justify-content: center;
    gap: 19px 17px;
    margin: 0 200px;
    padding: 51px 0 68px;
    list-style: none;
}

@media screen and (max-width: 350px) {
    .element__items{
        margin: 0 auto;
    }
}


