.element__items{
    display: grid;
    grid-template-columns: repeat(auto-fit, 282px);
    justify-content: center;
    gap: 19px 17px;
    margin: 0 auto;
    padding: 51px 0 68px;
    list-style: none;
}



