.profile__info {
    height: 73px;
    padding-left: 30px;
    display: grid;
    grid-template-areas: 
    "name edit"
    "info info";
    grid-template-columns: 300px 50px;
    column-gap: 18px;
    row-gap: 16px;
    align-items: end;
}

@media screen and (max-width: 800px){
    .profile__info{
        row-gap: 14px;
        column-gap: 10px;
        grid-template-columns: 200px 50px;
        padding-left: 0;
        padding-bottom: 36px;
    }
}
